.allCards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
#HeroArea{
    color: #ffffff;
}
.cartItem {
    background-color: #ffffff;
    color: #202020ed;
    padding: 20px;
    border-radius: 10px;
}

.buttonGrp {
    display: flex;
    flex-direction: column;
}
.buttonGrp button{
    font-size: 20px;
    padding: 10px;
    margin: 5px 0;
}
  
    /* Tab */
@media (min-width: 768px) and (max-width: 1024px) {
    .allCards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    
  }
  /* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
  
    .allCards {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 60;
    }
    .cartItem {
        margin-top: 50px;
     }
  }